
.side_block
  .user_block
    %p.user_block__user_name aaaaa
    %ul.user_block__icon_block
      %li.user_block__icon_block__icon
        %i.fa.fa-edit
      %li.user_block__icon_block__icon
        %i.fa.fa-cog
  .gloup_info_bolck
    .gloup_info_bolck__chat_gloup
      %p.gloup_info_bolck__chat_gloup__gloup_name aaa
      %p.gloup_info_bolck__chat_gloup__chat_message aaa
    .gloup_info_bolck__chat_gloup
      %p.gloup_info_bolck__chat_gloup__gloup_name bbb
      %p.gloup_info_bolck__chat_gloup__chat_message bbb

.chat_main_block
  .chat_header
    .chat_header__left_box
      %h2.chat_header__left_box__gloup_name aaa
      %ul.chat_header__left_box__gloup_member
        Member：
        %li.chat_header__left_box__gloup_member__member aaac
    .edit_button Edit
  .message_list_box
    .message_list_box__message
      .message_list_box__message__info
        %p.message_list_box__message__info__send_usre_name aaa
        %p.message_list_box__message__info__date 2019/02/11(Mon) 17:01:26
      %p.message_list_box__message__text aaaaaaaaa
    .message_list_box__message
      .message_list_box__message__info
        %p.message_list_box__message__info__send_usre_name aaa
        %p.message_list_box__message__info__date 2019/02/11(Mon) 17:01:26
      %p.message_list_box__message__text hello,world
  .form
    %form.form__send_message_block
      .form__send_message_block__input_box
        %input(placeholder="type a message" class="form__send_message_block__input_box__input_text" type="text" name="message[content]" id="message_content")
        %lable.form__send_message_block__input_box__input_image
          %i.fa.fa-image
      %input(type="submit" name="commit" value="Send" class="form__send_button" data-disable-with="Send")
