
%div.side_block
  %div.user_block
    %p.user_name aaaaa
    %ul.icon_block
      %li.icon
        %i.fa.fa-edit
      %li.icon
        %i.fa.fa-cog
  %div.gloup_bolck
    %div.chat_gloup
      %p.gloupname aaa
      %p.message aaa
    %div.chat_gloup
      %p.gloupname bbbs
      %p.message bbb

%div.main_block
  %div.chat_header
    %div.left_box
      %h2.gloup_name aaa
      %ul.gloup_member
        Member：
        %li.member aaac
    %div.edit_button edit
  %div.messagelist
    %div.message
      %div.info
        %p.user_name aaa
        %p.date 2019/02/11(Mon) 17:01:26
      %p.text hello,world
    %div.message
      %div.info
        %p.user_name aaa
        %p.date 2019/02/11(Mon) 17:01:26
      %p.text hello,world
