.chat_header
  .chat_header__left_box
    %h2.chat_header__left_box__gloup_name aaa
    %ul.chat_header__left_box__gloup_member
      Member：
      %li.chat_header__left_box__gloup_member__member aaac
  .edit_button Edit
