.gloup_bolck{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
}

.chat_gloup{
  margin-bottom: 40px;
  .gloup_name{
    font-size: 15px;
    margin-bottom: 5px;
  }
  .message{
    font-size: 11px;
  }
}
