.user_block{
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  .user_name{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
  }
  .icon_block{
    display: flex;
    .icon{
      list-style: none;
      margin-left: 0.3rem;
    }
  }
}

